#Hoekje {
    text-align: left;
}   

#Hoekje h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: xx-large;
}

#Hoekje h2 {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: solid 2px lightgray;
    width: fit-content;
    font-size: medium;
}

#Hoekje p > code {
    background-color: gray;
    color: whitesmoke;
}

#Hoekje .twee_luik {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    justify-content: space-between;
}

#Hoekje img {
    border: 2px solid gray;
    border-radius: 10px;
}

#Hoekje .onderschrift {
    text-align: center;
    padding: 0;
    margin: 0;
    font-style: italic;
    border: 2px double lightgray;
    border-top: 0;
}

/* #Hoekje pre {
    border-color: lightgray;
    border-radius: 5px;
    border-style: solid;
    width: fit-content;
    height: fit-content;
    padding: 1em;
} */