#MenuBalk {
    height: 55%;
    position: sticky;
    top: 8px;
}

#MenuBalk button {
    border: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: darkgray;
    background-color: white;
    
    padding: 0;
    margin-bottom: 5px;
    font-size: xx-large;
    width: 80%;
    height: 8vh;
}

.HoekjeKnop button {
    height: 5vh !important;
    width: 70% !important;
    float: right;
    margin-right: 10%;
}

#pijl_omlaag {
    padding: 0;
    margin: 0;
    font-size: medium;
}
#pijl_omlaag:hover {
    font-weight: bold;
}
