#RekenMachine {
    display: grid;
    justify-content: center;
    text-align: center;
}

#R_Scherm {
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    border-color: lightgray;
    height: fit-content;
}

#R_Resultaat {
    height: 1.2em;
    border-bottom: 2px solid lightgray;
}

#R_Keuzes {
    height: 1.5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#R_Getallen {
    border-top: 2px solid lightgray;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1.5em);
}

#R_Getallen button {
    border-radius: 5px;
}
#R_Keuzes button {
    border-radius: 0px;
}
