@page "/Hallo_Scherm"
<link href="css/hoekje.css" rel="stylesheet">
<div class="Hoekje">

<h2>Resultaat</h2>
<p>
    Het resultaat van de uitleg hiervoor is een simpel gekleurd scherm dat sluit bij het indrukken van Esc.
    De code hiervoor is hieronder gegeven, samen met een afbeelding.
</p>
<div class="twee_luik">
    <div class="afbeelding">
        <img src="afbeeldingen/Hallo_Scherm/code.png">
        <p class="onderschrift"></p>
    </div>
    <div class="afbeelding">
        <img src="afbeeldingen/Hallo_Scherm/afbeelding.png">
        <p class="onderschrift"></p>
    </div>
</div>

</div>