@page "/Plan"

<h1>Plan</h1>
<ul>
    <li><a href="https://huskynator.github.io/BlazorPage/">BlazorPagina maken</a></li>
    <li><a href="https://github.com/HuskyNator/hoekjes">Hoekjes maken</a></li>
</ul>