<button @onclick="ToonMenu">Menu</button>
<button href="/">Hoofd<br>Scherm</button>
<button href="/Plan">Plan</button>
<button href="https://github.com/HuskyNator/BlazorPage">Github</button>
<button href="#"></button>

@code {
    private bool zichtbaar = true;

    //private string MenuBalk => zichtbaar ? "MenuBalk" : null;

    private void ToonMenu()
    {
        zichtbaar = !zichtbaar;
    }
}
