<button @onclick="ToonMenu">Menu</button>
<a href="/">
    <button>Hoofd<br>Scherm</button>
</a>
<a href="/Plan">
    <button>Plan</button>
</a>
<a href="https://github.com/HuskyNator/BlazorPage">
    <button>Github</button>
</a>
<a href="#">
    <button>#</button>
</a>

@code {
    private bool zichtbaar = true;

    //private string MenuBalk => zichtbaar ? "MenuBalk" : null;

    private void ToonMenu()
    {
        zichtbaar = !zichtbaar;
    }
    
}
