<div class="MenuBalk">
<a href="">
    <button>HoofdScherm</button>
</a>
<a href="Plan">
    <button>Plan</button>
</a>
<a href="https://github.com/HuskyNator/BlazorPage">
    <button>Github</button>
</a>
<a href="Hoekje">
    <button>Hoekje</button>
</a>
</div>
